<div class="bg-gradient-custom-primary shadow my-3 py-2">
    <a href="{{contactData.whatsappLink}}"
        class="text-white text-decoration-none"
        rel="noopener noreferrer" target="_blank">
        <div class="container d-flex flex-row justify-content-center">
            <i id="icon-banner-wa" class="fab fa-whatsapp icon-navbar-lg mx-3 align-self-center"></i>
            <h3 class="font-weight-light text-center">Contactanos por <span class="font-weight-bold">Whatsapp</span></h3>
        </div>
    </a>
</div>
