<a href="{{contactData.whatsappLink}}" rel="noopener noreferrer" target="_blank" id="float-button-lg"
    class="btn text-white bg-gradient-custom-primary btn-lg btn-float d-sm-flex align-items-center d-none shadow-lg">
    <i class="fab fa-whatsapp icon-navbar px-2"></i>
    <span class="pb-1 px-2">Escribinos</span>
</a>
<a href="{{contactData.whatsappLink}}" rel="noopener noreferrer" target="_blank" id="float-button-sm"
    class="btn text-white bg-gradient-custom-primary btn-float-sm rounded-circle d-flex justify-content-center align-items-center d-sm-none shadow-lg">
    <i class="fab fa-whatsapp icon-navbar-lg"></i>
</a>